---
import AdminOrdersLayout from "@/layouts/AdminOrdersLayout.astro";
---

<AdminOrdersLayout title="Administrar ordenes pendientes">
    <p>
        Bienvenido al panel de administración. Aquí podrás gestionar tus
        productos, pedidos y más.
    </p>
</AdminOrdersLayout>
