---
import AdminLayout from "@/layouts/AdminLayout.astro";
---

<AdminLayout title="Administrar ordenes pendientes">
    <p>
        Bienvenido al panel de administración. Aquí podrás gestionar tus
        productos, pedidos y más.
    </p>
</AdminLayout>
